{% extends 'base.html'%}
{% block main_content %}
<div class="container  main_content row">
    <div class="banner">
      <img  src="{{ url_for('static', filename='assets/rafiki.svg')}}"
      alt="a lady saving money into a piggy bank"
      class="banner_img">
  
    </div>
    <div class="form_wrapper row">
      <h1 class="form_title accent">Forgot Password</h1>
      <form method="POST">
        {{ form.csrf_token}}
        <div class="form_elements">
          <span class="indicator-icons material-icons success accent"> check_circle </span>
          <span class="indicator-icons material-icons error"> error_outline </span>
          <label for="email" class="small--font">Email</label>
          {{form.email(class="form_input", id="email")}}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <span class="error_message error--fs error">{{messages[0]}}</span>
          {% endif %}
          {% endwith%}
        </div> 
        <div class="form_elements row">
          <button class="btn" type="submit">Send Request</button>
        </div>
      </form>
  
      <p class="small--font">Back: <a class="accent" href="{{ url_for('main.index')}}"> Sign In</a></p>
      
    </div>
  </div>
{% endblock %}