{% extends "base.html" %}
{% block title %}| Contacts {% endblock %}
{% block main_content %}
<div class="container  main_content row">
  <div class="banner">
    <img  src="{{ url_for('static', filename='assets/rafiki.svg')}}"
    alt="a lady saving money into a piggy bank"
    class="banner_img">

  </div>
  <div class="form_wrapper row">
    <h1 class="form_title accent">contacts</h1>
    <form method="POST">
      {{ form.csrf_token}}
      <div class="form_elements">
        <label for="email" class="small--font">Email</label>
        <div class="input_group">
          {{form.email(class="form_input ", id="email")}}
          <span class="indicator-icons material-icons success accent"> check_circle </span>
          <span class="indicator-icons material-icons error"> error_outline </span>
        </div>
        
        <span class="error_message error--fs error"></span>
  
      </div>
      <div class="form_elements">
        <label for="email" class="small--font">username</label>
        <div class="input_group">
          {{form.username(class="form_input ", id="username")}}
          <span class="indicator-icons material-icons success accent"> check_circle </span>
          <span class="indicator-icons material-icons error"> error_outline </span>
        </div>
        
        <span class="error_message error--fs error"></span>
  
      </div>
      <div class="form_elements">
        
        <label for="password" class="small--font">Message</label>
        <div class="input_group">
          {{form.message(class="form_input message_box", id="message")}}
          <span class="indicator-icons material-icons success accent"> check_circle </span>
          <span class="indicator-icons material-icons error"> error_outline </span>
        </div>
        <span class="error_message error--fs error"></span>
    
      </div>
      <div class="form_elements row">
        <button class="btn" type="submit">Send Message</button>
      </div>
    </form>
  </div>
</div>
{% endblock%}
