<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/piggy-bank.svg')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title%}| Chama App {% endblock%}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body>
    <header>
      <div class="container row">
        <div class="brand">
          <button class="menu_toggle">
            <span class="material-icons"> menu </span>
          </button>
          <img src="{{ url_for('static', filename='assets/logo.svg')}}" alt="Chama application brand logo" class="brand_logo">
        </div>
        <nav class="nav_bar">
          <ul class="nav_items">
            <li class="nav_item"><a href="{{url_for('main.index')}}" class="nav_link">Home</a></li>
            <li class="nav_item"><a href="{{ url_for('main.about')}}" class="nav_link">About</a></li>
            <li class="nav_item"><a href="{{ url_for('main.contacts')}}" class="nav_link">Contacts</a></li>
            <li class="nav_item"><a href="{{ url_for('main.Faqs')}}" class="nav_link">FAQs</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {% with message = get_flashed_messages() %}
      {% if message %}
      <div class="notification">
            <span class="notification__message">
              {{ message[0] }}
            </span>
        <!-- Testing notification -->
      </div>
      {% else %}

      {% endif %}
      {% endwith %}
      {% block main_content %}
      {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    {% block scripts %}
    {% endblock%}
  </body>
</html>
